* {
    color: #0b340c;
    font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
}

body {
    margin: 0;
}

.todo-app {
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 199, 167);
    width: 50%;
    height: 100dvh;
    margin: auto;
    align-items: center;
}

/** todo list **/
.todo-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: rgb(127, 175, 133);
    width: 50%;
    text-align: left;
    font-family: monospace;
    list-style: circle;
}

/** todo item **/
.todo-item {
    cursor: pointer;
    line-height: 1.5;
    margin-left: 1.8rem;
}

.add-todo-input-container {
    display: flex;
    width: 50%;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid #709d67;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
}

.add-todo-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

.add-todo-button {
    width: 3rem;
    height: 100%;
    background-color: #519153;
    color: white;
    border: none;
    border-radius: 0.17rem;
    cursor: pointer;
    font-size: 1rem;
}
.add-todo-button:hover {
    background-color: #3d723e;
}
