.todo-app {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    /* background-color: red; */
    width: 50%;
    margin: auto;
    align-items: center;
}

/** todo list **/
.todo-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    /* background-color: blue; */
    width: 50%;

    text-align: center;
    list-style: none;
    font-family: monospace;
}

/** todo item **/
.todo-item {
    cursor: pointer;
    line-height: 1.5;
}
